<div class="container-users">
    <header>
        <h1>Aplicacion 1</h1>
        <button>Eliminar aplicacion</button>
    </header>
    <div style="display: flex; justify-content: space-between; margin-right: 2rem;">
        <side-nav></side-nav>
        <main>
            <button>Crear usuario</button>
            <div class="main-card">
                <div class="users-row">
                    <h3>UID</h3>
                    <h3>Correo electronico</h3>
                    <h3>Creado</h3>
                    <h3>Acciones</h3>
                </div>
                <div class="users-row">
                    <p>9V8AluyJ94UmYNHzW41p</p>
                    <p>ejemplo@mail.com</p>
                    <p>28/09/2022</p>
                    <div>
                        <span class="material-symbols-outlined">edit</span>
                        <span class="material-symbols-outlined">delete</span>
                    </div>
                </div>
                <div class="users-row">
                    <p>7XAH6SlOomTlCSMkp8Rv</p>
                    <p>ejemplo2@mail.com</p>
                    <p>29/09/2022</p>
                    <div>
                        <span class="material-symbols-outlined">edit</span>
                        <span class="material-symbols-outlined">delete</span>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>