<div class="container-politics">
    <header>
        <h1>Aplicacion 1</h1>
        <button>Eliminar aplicacion</button>
    </header>
    <div style="display: flex; justify-content: space-between; margin-right: 2rem;">
        <side-nav></side-nav>
        <main>
            <div class="main-card">
                <div class="form">
                    <div class="form-inline-field">
                        <label for="">Longitud minima</label>
                        <input type="number" value="8">
                    </div>
                    <div class="form-inline-field">
                        <label for="">Debe tener mayusculas</label>
                        <select name="" id="">
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="form-inline-field">
                        <label for="">Debe tener numeros</label>
                        <select name="" id="">
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="form-inline-field">
                        <label for="">Debe tener caracteres especiales</label>
                        <select name="" id="">
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <button>Guardar cambios</button>
                </div>
            </div>
        </main>
    </div>
</div>