<div class="container-credentials">
    <header>
        <h1>Aplicacion 1</h1>
        <button>Eliminar aplicacion</button>
    </header>
    <div style="display: flex; justify-content: space-between; margin-right: 2rem;">
        <side-nav></side-nav>
        <main>
            <div class="main-card">
                <div class="form">
                    <div class="form-inline-field">
                        <label for="">¿Cada cuanto se puede cambiar el correo electronico?</label>
                        <input type="number" value="3">
                        <p>dias</p>
                    </div>
                    <div class="form-inline-field">
                        <label for="">¿Cada cuanto se puede cambiar la contraseña?</label>
                        <input type="number" value="3">
                        <p>dias</p>
                    </div>
                    <button>Guardar cambios</button>
                </div>
            </div>
        </main>
    </div>
</div>